@import '../../shared/styles/sizes.scss';
@import '../../shared/styles/spacers.scss';

.no-news-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: sticky;
    top: $margin-s;

    width: 100%;
    height: fit-content;

    .no-news-image {
        width: 25vw;
    
        img {
            width: 100%;
            opacity: 0.4;
        }
    }

    h1 {
        font-size: 2vw;
        text-align: center;
    }
}

@media (max-width: #{$breakpoint-tablet}) {
    .no-news-container {
        display: none;
    }
}