@import '../../shared/styles/fonts.scss';
@import '../../shared/styles/sizes.scss';
@import '../../shared/styles/spacers.scss';


.news-details-container {
    position: sticky;
    top: $margin-s;

    background-color: #fff;
    border-radius: $card-border-radius;
    height: fit-content;

    .close-details-button {
        position: absolute;
        right: $margin-xs;
        top: $margin-xs;
        background-color: white;
        border: none;
        border-radius: 50%;
        padding: $padding-s;
        line-height: 0.5rem;
        cursor: pointer;
    }

    .news-image {
        width: 100%;
        height: 50vh;
        max-height: 50vh;
        
        img {
            border-radius: $card-border-radius $card-border-radius 0 0;
            width: 100%;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .news-title-content-container {
        padding: $padding-s $padding-m;

        h1 {
            font-size: $font-size-xl;
        }

        h2 {
            margin-top: $margin-xs;
            font-weight: 200;
            font-size: $font-size-m;
            color: #888;
        }

        .content {
            margin-top: $margin-m;
            font-size: $font-size-m;
        }
    }
}

@media (max-width: #{$breakpoint-tablet}) {
    .news-details-container {
        width: 100%;

        .close-details-button {
            padding: $padding-xs;
        }
    }
}