@import '../../shared/styles/sizes.scss';

.news-details-container {
    position: sticky;
    top: 10px;

    background-color: #fff;
    border-radius: 4px;
    width: calc(100% - 437px);
    height: fit-content;

    .close-details-button {
        position: absolute;
        right: 6px;
        top: 6px;
        background-color: white;
        border: none;
        border-radius: 50%;
        padding: 10px;
        line-height: 0.5rem;
        cursor: pointer;
    }

    .news-image {
        width: 100%;
        height: 50vh;
        max-height: 50vh;
        
        img {
            border-radius: 4px 4px 0 0;
            width: 100%;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .news-title-content-container {
        padding: 10px 15px;

        h1 {
            font-size: 1.6rem;
        }

        h3 {
            margin-top: 6px;
            font-weight: 200;
            color: #888;
        }

        .content {
            margin-top: 15px;
            font-size: 1.2rem;
        }
    }
}

@media (max-width: #{$breakpoint-tablet}) {
    .news-details-container {
        width: 100%;

        .close-details-button {
            padding: 7px;
        }
    }
}