@import '../../shared/styles/sizes.scss';

.news-listing-container {
    width: fit-content;
}

@media (max-width: #{$breakpoint-tablet}) {
    .news-listing-container.selected {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        overflow: scroll;
        overflow-y: hidden;
        scroll-behavior: smooth;
        gap: 10px;
    }
}