@import './shared/styles/sizes.scss';
@import './shared/styles/spacers.scss';

.app-container {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: $padding-m;
    gap: $spacer-xl;
}

@media (max-width: #{$breakpoint-tablet}) {
    .app-container {
        flex-direction: column;
        align-items: center;
        gap: $spacer-m;
    }
}