@import './shared/styles/fonts';

body, main, ul, li, p, figure, h1, h2 {
    margin: 0;
    padding: 0;
}

html {
    font-family: $font-family-default;
    font-size: $font-size-default;
    background-color: rgba(0, 0, 0, 0.03);
}